/*
Display:
1. none: hide element and REMOVE his place
2. block: (previous commit)
3. inline: (previous commit)
4. inline-block: (previous commit)

Visibility:
1. visible: visible :)
2. hidden: hide element and KEEP his place
*/

div {
    background-color: red;
    margin: 10px;
}

.first {
    visibility: hidden;
}