/* 
Text - Color And Shadow
shadow:
h-shadow
v-shadow
blur
shadow-color
*/

div {
    background-color: #F9F9F9;
    padding: 20px;
    color: rebeccapurple;
    text-shadow: 1px 1px 5px red; /*h v blur color*/
} 
